# Python
__pycache__/
*.py[cod]
# Django
db.sqlite3
local_settings.py
# Environment (САМОЕ ВАЖНОЕ: не слейте пароли!)
.env
venv/
# Media (Пользовательские файлы не храним в Git, они тяжелые)
media/
# Static collection folder
staticfiles/