<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>3D Storage</title>
        <!-- ... ваши старые теги ... -->
        
        <!-- ВАЖНО: Это карта, указывающая браузеру, где брать библиотеки -->
        <script type="importmap">
        {
            "imports": {
                "three": "https://unpkg.com/three@0.160.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@0.160.0/examples/jsm/"
            }
        }
        </script>

        <!-- Подключение CSS (оставьте как было) -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'gallery/style.css' %}">
    </head>
    <body>
        <!-- Кнопка переключения темы -->
        <button class="theme-toggle" id="themeToggle">🌙</button>

        <header>
            <a href="/about/">О нас</a>
            <!-- {{ ... }} — это переменная. Мы передадим её из Python -->
            <h1>{{ page_title }}</h1>
            <!-- Ссылка на загрузку теперь выглядит как кнопка -->
            <a href="{% url 'upload' %}" class="btn" style="background-color: #47a347;">Загрузить модель</a>
        </header>

        <!-- Блок уведомлений -->
        {% if messages %}
            <div class="messages-container">
                {% for message in messages %}
                    <!-- message.tags добавит класс 'success', 'error' или 'warning' -->
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Блок поиска и фильтров -->
        <div class="toolbar">
            <form action="{% url 'home' %}" method="get" style="display: flex; width: 100%; gap: 10px; align-items: center;">
                <!-- 1. Поле поиска -->
                <!-- value="{{ request.GET.q }}" - это Sticky UI.
                Мы оставляем текст в поле после перезагрузки страницы -->
                <input type="text" name="q" class="search-input"
                placeholder="Найти 3D модель..."
                value="{{ request.GET.q|default:'' }}">

                <!-- 2. Сортировка -->
                <!-- onchange="this.form.submit()" заставляет форму отправиться сразу при выборе
                из списка -->
                <select name="ordering" class="sort-select" onchange="this.form.submit()">
                    <option value="new" {% if request.GET.ordering == 'new' %}selected{% endif%}>Сначала новые</option>
                    <option value="old" {% if request.GET.ordering == 'old' %}selected{% endif%}>Сначала старые</option>
                    <option value="name" {% if request.GET.ordering == 'name' %}selected{% endif%}>По имени (А-Я)</option>
                </select>

                <!-- 3. Кнопка -->
                <button type="submit" class="search-btn">Найти</button>

                <!-- 4. Кнопка сброса (если поиск активен) -->
                {% if request.GET.q or request.GET.ordering %}
                    <a href="{% url 'home' %}" class="reset-link">✖ Сбросить</a>
                {% endif %}
            </form>
        </div>

            <main>


                <!-- 1. Загружаем наш новый тег -->
                {% load gallery_extras %}
                <!-- 2. Сетка моделей (тут ничего не меняем, просто напоминание где мы) -->
                <!-- Контейнер сетки -->
                <div class="gallery-grid">

                    {% for asset in page_obj %}

                        <!-- Карточка -->
                        <div class="asset-card">
                            <!-- 1. Превью (Верхняя часть) -->
                            <!-- Пока здесь просто серый квадрат с иконкой куба -->
                            <!-- На 6-й неделе здесь будет картинка, на 5-й - 3D сцена -->

                            <div class="card-preview js-load-3d"
                                id="model-container-{{ asset.id }}"
                                data-url="{{ asset.file.url }}" 
                                
                                {% if asset.image %}
                                    style="background-image: url('{{ asset.image.url }}');"
                                {% endif %}> 
                                
                                <!-- Если есть картинка, показываем кнопку Play -->
                                {% if asset.image %}
                                    <div class="play-btn">▶</div>
                                {% else %}
                                    <!-- Если картинки нет (старая модель), показываем заглушку -->
                                    <span style="font-size: 2rem;">🎲</span>
                                {% endif %}

                            </div>

                            <!-- 2. Информация (Нижняя часть) -->
                            <div class="card-info">
                                <h3 class="card-title">{{ asset.title }}</h3>

                                <div class="card-meta">
                                    <span>📅 {{ asset.created_at|date:"d M Y" }}</span>
                                    <!-- Если есть файл, показываем размер -->
                                    {% if asset.file %}

                                    {% endif %}
                                </div>

                                <!-- Кнопка скачивания -->
                                {% if asset.file %}
                                    <a href="{{ asset.file.url }}" class="btn" download>Скачать.glb</a>
                                    <span style="float: right;">💾 {{asset.file.size|filesizeformat }}</span>
                                {% else %}
                                    <span style="color: red;">Файл потерян</span>
                                {% endif %}
                            </div>
                        </div>
                    {% empty %}
                        <div style="grid-column: 1 / -1; text-align: center; padding: 40px;">
                            {% if request.GET.q %}
                                <!-- Если был поиск -->
                                <h3>По запросу "<b>{{ request.GET.q }}</b>" ничего не найдено 🕵️</h3>
                                <p>Попробуйте изменить запрос или <a href="{% url 'home'%}">сбросить фильтры</a>.</p>
                            {% else %}
                                <!-- Если база реально пуста -->
                                <h3>База пуста</h3>
                                <p>Загрузите первую модель!</p>
                            {% endif %}
                        </div>
                    {% endfor %}

                </div>

                <!-- 3. Блок Пагинации -->
                <div class="pagination">
                    <span class="step-links">

                        {% if page_obj.has_previous %}
                            <!-- Используем наш тег: берем текущий request и меняем page на 1 -->
                            <a href="?{% param_replace request page=1 %}">&laquo; Первая</a>
                            <a href="?{% param_replace request page=page_obj.previous_page_number%}">Назад</a>
                        {% endif %}

                        <span class="current">
                            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?{% param_replace request page=page_obj.next_page_number %}">Далее</a>
                            <a href="?{% param_replace request page=page_obj.paginator.num_pages%}">Последняя &raquo;</a>
                        {% endif %}

                    </span>
                </div>

            </main>

            <!-- type="module" включает режим современных импортов -->
        <script type="module">
            import { loadModel } from "{% static 'gallery/js/viewer.js' %}";

            // Находим все блоки, готовые к 3D
            const containers = document.querySelectorAll('.js-load-3d');

            // Пробегаемся по каждой
            containers.forEach(container => {
                // Вешаем слушатель клика на каждую карточку
                container.addEventListener('click', function() {

                    // Проверка: Если внутри уже есть canvas, значит модель уже загружена
                    if (this.querySelector('canvas')) return;

                    // 1. Убираем кнопку Play (очищаем контент)
                    // Но оставляем фон, пока не появится Canvas, чтобы не мигало белым
                    this.innerHTML = '';

                    // 2. Добавляем спиннер (визуально для пользователя)
                    // (Тот самый лоадер, который мы делали на прошлой неделе, появится сам внутри loadModel)
                    
                    this.style.backgroundImage = 'none';
                    //this.style.backgroundColor = '#111'; // Опционально: темный фон для 3D

                    // 3. Запускаем загрузку 3D
                    const id = this.id;
                    const url = this.dataset.url;

                    if (url) {
                        console.log("Загружаю 3D по требованию:", url);
                        loadModel(id, url);

                        // Убираем фоновую картинку, когда 3D загрузится?
                        // loadModel сам очистит innerHTML и перекроет фон канвасом.
                    }
                });
            });
        </script>

        <script src="{% static 'gallery/js/theme.js' %}"></script>

    </body>
</html>

